/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/composer.phar
/vendor/
/node_modules
/bower_components
/npm-debug.log
/nbproject
/.vagrant
/.rules
/.idea
/puphpet/config-custom.yaml
/puphpet/files/dot/ssh/*
!/puphpet/files/dot/ssh/insecure_private_key
/web/bundles/
/web/assets
